html {
    background-color: rgb(178, 228, 233);
}

body {
    height: 25rem;
    text-align: center;
    width: 25rem;
}

h1 {
    font-size: 2.25rem;
}

#output {
    margin-bottom: 2rem;
    margin-top: 2rem;
}

#output .figure {
    font-size: 2.5rem;
    margin-bottom: 0;
}

#icon {
    margin-bottom: 2rem;
}

#icon img {
    height: 4.5rem;
}

.chilly {
    color: #2E7CC7;
}

.cold {
    color: #180FC1;
}

.hot {
     color: #EB2C08;
}

.ideal {
    color: #238623;
}

#submit-button {
    background-color:rgb(228, 243, 230);
    border-radius: none;
    margin-left: 1rem;
}

#submit-button:hover {
    background-color: #FFF;
    cursor: pointer;
}
