html {
    background-color:#F5F4F4;
}

body {
    font-family: 'Acme', sans-serif;
    height: 25rem;
    text-align: center;
    width: 25rem;
}

h1 {
    font-size: 2.25rem;
}

a {
    font-size: 1rem;
    text-decoration: none;
    color:rgb(64, 40, 240);
}

a:visited {
    text-decoration: none;
    color: rgb(193, 22, 163);
}

a:hover {
    text-decoration: none;
    color:rgb(235, 53, 30);
}

#output {
    margin-bottom: 2rem;
    margin-top: 2rem;
}

#output .figure {
    font-size: 2.5rem;
    margin-bottom: 0;
}

#icon {
    margin-bottom: 2rem;
}

#icon img {
    height: 4.5rem;
}

.chilly {
    color: #2E7CC7;
}

.cold {
    color: #180FC1;
}

.hot {
     color: #EB2C08;
}

.ideal {
    color: #238623;
}

#submit-button {
    background-color:rgb(228, 243, 230);
    border-radius: none;
    margin-left: 1rem;
}

#submit-button:hover {
    background-color: #FFF;
    cursor: pointer;
}

#link {
    margin: 1.25rem auto;
}
